/*Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

.gameboard-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}

.gameboard-container div {
    width: 80px;
    height: 80px;
}

.box-0, .box-3, .box-6 {
    border-right: solid 1px #000;
}

.box-1, .box-4, .box-7 {
    border-left: solid 1px #000;
    border-right: solid 1px #000;
}

.box-2, .box-5, .box-8 {
    border-left: solid 1px #000;
}

.box-6, .box-7, .box-8 {
    border-top: solid 1px #000;
}

.box-3, .box-4, .box-5 {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.box-0, .box-1, .box-2 {
    border-bottom: solid 1px #000;
}